{% extends "base.html" %}
{% load i18n %}}
{% load static %}
{% block content %}

<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- content body -->
    <section id="shout">
<p>Καλώς ήλθατε στο δοκιμαστικό περιβάλλον της Δημόσιας <a href="https://ermis-f.eu/" target="new">Διαδικτυακής Υπηρεσίας Περιβαλλοντικών Κινδύνων ERMIS-F</a> . Μπορείτε να δοκιμάστε τις δυνατότητες και τη λειτουργικότητα των επιμέρους εφαρμογών που σήμερα είναι διαθέσιμες, ακολουθώντας τα προτεινόμενα σενάρια & οδηγίες χρήσης.
Η Υπηρεσία είναι σε ανάπτυξη, οι παρατηρήσεις και υποδείξεις σας είναι <a href="mailto:info@ermis-f.eu">ευπρόσδεκτες.</a>
</p>
    </section>
   

   <section id="services" class="last clear">
<br/>	<h2><u>Οδηγιες Χρησης Υπηρεσιας Ermis-F</u></h2><br/>

<p> Η παρούσα ιστοσελίδα παρέχει πρόσβαση στις υπηρεσίες του Ermis-F:
<ul>
<li><u>Πλημμυρικοί Χάρτες.</u> Χαρτογραφική πληροφόρηση για τον πλημμυρικό κίνδυνο στις περιοχές Κύπρου, Κρήτης και Λέσβου</li>

<li><u>Γεωπύλη.</u> Μια διαδικτυακή πλατφόρμα αναζήτησης, προβολής, λήψης και επεξεργασίας χωρικών δεδομένων και χαρτών που σχετίζονται με τον πλημμυρικό κίνδυνο. <a href="{% static "docs\GeoportalUserManula.pdf" %}" target="new">Οδηγός Χρήσης</a></li>
<li><u>Εφαρμογή Πληθοπορισμού.</u> Ένα σύστημα καταγραφής αναφορών περιστατικών πλημμυρικού κινδύνου μέσω φορητών συσκευών</li>
<li><u>Βάση Γνώσης.</u>  Παρέχει δομημένη και μη πληροφορία που αφορά τη διαχείριση πλημμυρών με σκοπό την υποστήριξη τοπικών φορέων, μηχανικών μελετητικών γραφείων, εργολάβων, τοπικών και μή κυβερνητικών οργανώσεων αλλά και ενδιαφερόμενων πολιτών</li>
<li><u>Εφαρμογή κοινωνικής Δικτύωσης.</u> Μια πλατφόρμα ενημέρωσης και επικοινωνίας τοπικών φορέων και πολιτών σε θέματα που αφορούν πλημμύρες και ειδικότερα τη διαχείριση του πλημμυρικού κινδύνου σε τοπικό επίπεδο</li>

<li><u>Σύστημα Έγκαιρης Προειδοποίησης.</u> Απευθύνεται σε εξουσιοδοτημένους φορείς, που έχουν την ευθύνη λήψης αποφάσεων και συντονισμού δράσεων, σε τοπικό και εθνικό επίπεδο</li>
</ul>
</br>
Μπορείτε να περιηγηθείτε στις εφαρμογες σαν ανώνυμος χρήστης.<br/>
Με την εγγραφή και σύνδεση στον Ermis-F μέσω του συνδέσμου "Σύνδεση" μπορείτε να αποκτήσετε πρόσβαση σε περισσότερες λειτουργίες<br/>
Επικοινωνήστε μαζί μας μέσω του συνδέσμου "Επικοινωνία"

</p>
</section>
  </div>
   
{% endblock %}
