{% extends "base.html" %}
{% load i18n %}}
{% load static %}
{% block content %}
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- content body -->
    <section id="shout">
<p>Καλώς ήλθατε στο δοκιμαστικό περιβάλλον της Δημόσιας <a href="https://ermis-f.eu/" target="new">Διαδικτυακής Υπηρεσίας Περιβαλλοντικών Κινδύνων ERMIS-F</a> . Μπορείτε να δοκιμάστε τις δυνατότητες και τη λειτουργικότητα των επιμέρους εφαρμογών που σήμερα είναι διαθέσιμες, ακολουθώντας τα προτεινόμενα σενάρια & οδηγίες χρήσης.
Η Υπηρεσία είναι σε ανάπτυξη, οι παρατηρήσεις και υποδείξεις σας είναι <a href="mailto:info@ermis-f.eu">ευπρόσδεκτες.</a>
</p>
    </section>
    <!-- main content -->
    <div id="homepage">
      <!-- One Quarter -->
      <section id="latest">
        <article>
          <figure>
            <ul>
              <li class="one_third"><a href="http://geoportal.ermis-f.eu/static_maps/cyprus.html" target="new"><img src="{% static "images/maps.png" %}" width="270" height="200" alt=""></a></br>
Οι Πλημμυρικοί Xάρτες παρέχουν άμεση πληροφόρηση για τις περιοχές της <a href="http://geoportal.ermis-f.eu/static_maps/cyprus.html" target="new">Κύπρου</a>, <a href="http://geoportal.ermis-f.eu/static_maps/crete.html" target="new">Κρήτης</a> και <a href="http://geoportal.ermis-f.eu/static_maps/lesvos.html" target="new">Λέσβου</a></li>
<li class="one_third"><a href="https://kb.ermis-f.eu/kb/" target="new"><img src="{% static "images/knowledge.png" %}" width="270" height="200" alt=""></a></br>
Η <a href="https://kb.ermis-f.eu/kb/" target="new">Βάση Γνώσης</a> παρέχει δομημένη και μη πληροφορία που αφορά τη διαχείριση πλημμυρών με σκοπό την υποστήριξη τοπικών φορέων, μηχανικών μελετητικών γραφείων, εργολάβων, τοπικών και μή κυβερνητικών οργανώσεων αλλά και ενδιαφερόμενων πολιτών</li>
 <li class="one_third lastbox"><a href="https://cr.ermis-f.eu/map/dashboard/" target="new"><img src="{% static "images/crouwdsourcing.png" %}" width="270" height="200" alt=""></a><br/>
Η <a href="https://cr.ermis-f.eu/map/dashboard/" target="new">Εφαρμογή Πληθοπορισμού</a> αποτελεί ένα σύστημα καταγραφής αναφορών περιστατικών πλημμυρικού κινδύνου μέσω φορητών συσκευών</li>

 <li class="one_third"><a href="http://geoportal.ermis-f.eu" target="new"><img src="{% static "images/geoportal2.png" %}" width="270" height="200" alt=""></a></br>
Η <a href="http://geoportal.ermis-f.eu" target="new">Γεωπύλη</a> αποτελεί μια διαδικτυακή πλατφόρμα αναζήτησης, προβολής, λήψης και επεξεργασίας χωρικών δεδομένων και χαρτών που σχετίζονται με τον πλημμυρικό κίνδυνο</li>
 <li class="one_third"><img src="{% static "images/social.png" %}" width="270" height="200" alt=""></br>
Η <b>Εφαρμογή Κοινωνικής Δικτύωσης</b> αποτελεί μια πλατφόρμα ενημέρωσης και επικοινωνίας τοπικών φορέων και πολιτών σε θέματα που αφορούν πλημμύρες και ειδικότερα τη διαχείριση του πλημμυρικού κινδύνου σε τοπικό επίπεδο</li>
<li class="one_third lastbox"><img src="{% static "images/ermis_logo.png" %}" width="270" height="200" alt=""></br>
Το <b>Σύστημα Έγκαιρης Προειδοποίησης</b> απευθύνεται σε εξουσιοδοτημένους φορείς, που έχουν την ευθύνη λήψης αποφάσεων και συντονισμού δράσεων, σε τοπικό και εθνικό επίπεδο</li>

            </ul>
           </figure>
        </article>
      </section>
      <!-- / One Quarter -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- services area -->
     </div>


<p><br/><br/><br/><br/></p>
    <!-- / content body -->

   <section id="services" class="last clear">
	<p><u>Αποποίηση Ευθύνης</u><br/>
Οι πληροφορίες που παρέχονται στις επιμέρους εφαρμογές της Δημόσιας Διαδικτυακής Υπηρεσίας Περiβαλλοντικών Κινδύνων ERMIS-F, προορίζονται αποκλειστκά  για τη δοκιμαστική λειτουργία της  Υπηρεσίας και όχι για δημόσια χρήση.
<br/>
Τα δεδομένα και τα σενάρια χρήσης είναι αναληθή, επιλεγμένα για τις εκπαιδευτικές δράσεις του ERMIS-F
Θα εκτιμούσαμε τα όποια σχόλιά σας να σταλούν στο info at ermis-f.eu
</p>
</section>
  </div>
{% endblock %}
  
   
