{% extends "base.html" %}
{% load i18n %}}
{% load static %}
{% block content %}
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- content body -->
    <section id="shout">
<p>Καλώς ήλθατε στο δοκιμαστικό περιβάλλον της Δημόσιας <a href="https://ermis-f.eu/" target="new">Διαδικτυακής Υπηρεσίας Περιβαλλοντικών Κινδύνων ERMIS-F</a> . Μπορείτε να δοκιμάστε τις δυνατότητες και τη λειτουργικότητα των επιμέρους εφαρμογών που σήμερα είναι διαθέσιμες, ακολουθώντας τα προτεινόμενα σενάρια & οδηγίες χρήσης.
Η Υπηρεσία είναι σε ανάπτυξη, οι παρατηρήσεις και υποδείξεις σας είναι <a href="mailto:info@ermis-f.eu">ευπρόσδεκτες.</a>
</p>
    </section>
   

   <section id="services" class="last clear">
<br/>	<h2><u>Πληροφοριες Workshop Λεμεσου(08/05/2019)</u></h2><br/>

 <li><a href="{% static "docs\SenariaOfUse_2019-05-08_Geoportal.pdf"%}" target="new">Σενάρια Χρήσης Γεωπύλης</a></li>

 <li><a href="{% static "docs\SenariaOfUse_2019-05-08_KB.pdf"%}" target="new">Σενάρια Χρήσης Βασης Γνώσης</a></li>

 <li><a href="{% static "docs\SenariaOfUse_2019-05-08_Crowdsourcing.pdf"%}" target="new">Σενάρια Χρήσης Εφαρμογής Πληθοπορισμού</a></li>

<hr>
<h4>Συμπληρωματικo Υλικo</h4>
<li><a href="{% static "docs\meteo_stations_active.zip" %}" target="new">Ενεργοί Μετεωλογικοί Σταθμοί</a></li>
<br/>
<li><a href="http://www.cylaw.org/nomoi/arith/2010_1_070.pdf" target="new">(2010_1_070.pdf) Ο περί Αξιολόγησης, Διαχείρισης και Αντιμετώπισης των Κινδύνων Πλημμύρας Νόμος του 2010 (Ν. 70(I)/2010)</a> Ε.Ε., Παρ.Ι(I), Αρ.4251, 16/7/2010</li>
<li><a href="http://www.cylaw.org/nomoi/arith/2012_1_153.pdf" target="new">(2012_1_153.pdf) Ο περί Αξιολόγησης, Διαχείρισης και Αντιμετώπισης των Κινδύνων Πλυμμήρας (Τροποποιητικός) Νόμος του 2012 (Ν. 153(I)/2012)</a> Παρ.Ι(I), Αρ.4363, 9/11/2012</li>

<br/>
<br/>
<hr>
<!--
<li><a href="https://goo.gl/forms/55VN5uprtnW7nwmX2" target="new">Ερωτηματολόγιο Χρήσης Γεωπύλης</a></li>
<li><a href="https://goo.gl/forms/PDfSzQsE0UgLLwJv2" target="new">Ερωτηματολογιο Χρήσης Εφ. Πληθοπορισμού</a></li>
<li><a href="https://goo.gl/forms/h5ihsRKj5dZagoT73" target="new">Ερωτηματολόγιο Xρήσης Βασης Γνώσης</a></li>

-->
</p>
</section>
  </div>
  
  {% endblock %}
   

